@charset "UTF-8";

/* GENERAL */
*{
  padding: 0;
  margin: 0;
}
body{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #000000;
  background-image: url("imgs/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}
main{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding: 2rem;
}
.logo{
  width: 100%;
  max-width: 500px;
  margin: 2.5rem auto 4rem;
  display: block;
}
  
/* MENU */
nav ul {
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: max-height 0.4s;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-out;
}
  nav ul li:hover{
    border-bottom: 2px solid #f05a4e;
    cursor: pointer;
  }

.toggle {
  width: 100%;
  text-align: left;
  box-sizing: 100%;
  padding: 15px 0;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* VIDEO */
.video{
  width: 100%;
  background-color: #f05a4e;
  display: block;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,80%);
}

/* ICONS */
.social{
  width: 75%;
  margin: 4rem auto 3.5rem;
  display: flex;
  justify-content: space-between;
}
i{
	font-size: 40px;
	color: white;
	transition: color 0.3s ease-out;
}
.fa-spotify:hover{color: #1db954;}
.fa-apple:hover{color: #7D7D7D;}
.fa-twitter:hover{color: #38A1F3;}
.fa-instagram:hover{color: #c32aa3;}
.fa-facebook-f:hover{color: #3b5998;}
.fa-youtube:hover{color: #ff0000;}
.fa-bandcamp:hover{color: #2FD1BC;}

/* SECTIONS */
hr{
	border-color: #111111;
	color: #111111;
	opacity: 0.25;
}
.merch, .tour{
  width: 100%;
  margin: 2.4rem 0;
}

/* HEADINGS */
h1{
	text-align: center;
	font-family: 'Playfair Display', serif;
	margin-top: 4rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

/* BUTTON */
.button{
	text-align: center;
	padding: 15px 30px;
	background-color: #f05a4e;
	margin: 2rem auto 4rem;
	display:block;
	max-width: 100px;
	color: white;
	text-decoration:none;
	font-weight: 600;
	letter-spacing:1;
	transition: background-color 0.3s ease-out;
	border-radius: 4px;
}
.button:hover{
	background-color: #E34538;
}

@media screen and (max-width: 800px) {
  body{
    background-size: 200%;
    background-position: center top;
  }
  main{
    padding-top: 0;
  }
  .logo{
    margin: 1rem auto 2.5rem;
  }
  nav ul {
    max-height: 0;
  }
  .social{
    width: 100%;
    margin: 2rem auto;
  }
  i{
    font-size: 30px;
  }
	h1{
		margin-top: 2rem;
	}
	.button{
		margin-bottom: 3rem;
	}
  .merch{
    margin: 1rem 0;
  }
  .showing {
    max-height: 20em;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    text-align: center;
    transition: color 0.3s ease-out;
  }
  nav ul li:hover{
    border-bottom: 2px solid transparent;
    color: #f05a4e;
    cursor: pointer;
  }
  .toggle {
    display: block;
    text-align: center;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  .toggle:before {
    content: "☰";
    font-size: 10px;
    letter-spacing: 2px;
    padding: 5px;
    font-weight: 700;
  }
}




/* TABLE */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  font-weight: 400;
  font-size: 12px;
  margin: 0 auto;
}
th {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}
th,
td {
  border: 0.125em solid #212121;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  line-height: 1.5;
  padding: 0.75em;
  text-align: left;
}

/* Stack rows vertically on small screens */
@media (max-width: 30em) {
  /* Hide column labels */
	thead tr {
		position: absolute;
		top: -9999em;
		left: -9999em;
	}
	tr {
    border: 0.125em solid #212121;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
	/* Leave a space between table rows */
  tr + tr {
    margin-top: 1.5em;
  }
  /* Get table cells to act like rows */
  tr,
  td {
		display: block;
	}
	td {
		border: none;
		/*border-bottom: 0.125em solid #333;*/
	/* Leave a space for data labels */
		padding-left: 50%;
	}
	/* Add data labels */
  td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
/* Stack labels vertically on smaller screens */
@media (max-width: 20em) {
  td {
    padding-left: 0.75em;
  }
  td:before {
    display: block;
    margin-bottom: 0.75em;
    margin-left: 0;
  }
}
